<app-header-admin></app-header-admin>
<br><br><br><br><br>
<aside>
  <div id="sidebar" class="nav-collapse " >
    <ul class="sidebar-menu" id="nav-accordion">
      <h2 style="color: black;   font-weight: bold;">GESTION BLOGS</h2>
      <li class="mt">
        <a class="active" href="#" >
          <i style="font-size: large" class="fa fa-home" aria-hidden="true"></i>
          <span style="font-size: large">Accueil</span>

        </a>
      <li>
        <a  style="font-size: large" type="submit">
          <i  style="font-size: large" class="fa fa-plus-circle"></i>
          <span>Ajouter Blog </span>
        </a>
      </li>

    </ul>
  </div>
</aside>

<div class="container" style="width: 1500px; margin-left: 25% ">
  <!--------------------------  Ajout  ---------------------------->

  <!--------------------------  Table  ---------------------------->
  <h1 style="font-weight: bold">Partie blog</h1>
  <div >

    <table  class="table table-bordered" style="text-align: center">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom Blog</th>
        <th scope="col">Contenue </th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>koura</td>
        <td>Habib Jerbi </td>
        <td>30/06/2021</td>

        <td>
          <button> <i class="fas fa-edit" style=" color: green">&nbsp; Edit</i></button>&nbsp;&nbsp;
          <button> <i class="far fa-trash-alt" style="  color: red">&nbsp; Delete</i>
          </button> &nbsp;&nbsp;
          <button> <i class="fas fa-comment" style="  color: blue">&nbsp; Commentaires</i></button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>koura</td>
        <td>Habib Jerbi </td>
        <td>30/06/2021</td>
        <td>
          <button> <i class="fas fa-edit" style=" color: green">&nbsp; Edit</i></button>&nbsp;&nbsp;
          <button> <i class="far fa-trash-alt" style="  color: red">&nbsp; Delete</i> </button>&nbsp;&nbsp;
          <button> <i class="fas fa-comment" style="  color: blue">&nbsp; Commentaires</i></button>

        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>koura</td>
        <td>Je suis Habib Jerbi </td>
        <td>30/06/2021</td>
        <td>
          <button > <i class="fas fa-edit" style=" color: green">&nbsp; Edit</i></button>&nbsp;&nbsp;
          <button> <i class="far fa-trash-alt" style="  color: red">&nbsp; Delete</i></button> &nbsp;&nbsp;
          <button> <i class="fas fa-comment" style="  color: blue">&nbsp; Commentaires</i></button>

        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>





